---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import SubHeading from "../components/SubHeading.astro";
import Suka from "../images/home/will-home.png";
import Herbal_Product from "../images/home/product-herbal.webp";
import Reiki_Product from "../images/home/product-reiki.webp";
import Shaman_Product from "../images/home/product-shaman.webp";
---

<Layout title="">
  <Banner text="Healing at the Heart of Wellness" page="home" />
  <main>
    <SubHeading
      text="A dedicated therapeutic space where you can feel truly met in your journey for improved health and well-being."
    />

    <hr />

    <!-- about me -->

    <div class="about-me">
      <div class="about-me__content">
        <div class="about-me__image">
          <img src={Suka} alt="Picture of Suka" height="183" width="183" />
        </div>
        <div class="about-me__text">
          <p>
            My name is William and I offer therapeutics based on my expertise in
            Herbal Medicine, Shamanic Practice and Reiki. The consultations I
            offer are rooted in principles of care, compassion, intuition, and
            purpose, alongside the wealth of experience I have developed over
            many years of sensitive therapeutic work. I have a heart-centered
            approach to living which breathes life into the medicine I offer. I
            often work with parts of a client that feel neglected or in
            disharmony; we will work to reclaim those parts, to nurture them,to
            grow them and to return a sense of integration and resolution,
            restoring vitality, physiological harmony and emotional wholeness.
          </p>
        </div>
      </div>
    </div>

    <hr />

    <!-- products -->

    <!-- <div class="products"> -->
    <ol class="products">
      <li class="product">
        <h3
          class="product__title"
          style={{ color: "#2f8857fc", fontSize: "18px" }}
        >
          Herbal Medicine
        </h3>
        <!-- TODO: add click event -->
        <div class="product__image-container">
          <a href="/herbal">
            <img
              src={Herbal_Product}
              height={133}
              width={192}
              alt="Herbal Medicine product"
              class="product__image"
            />
          </a>
        </div>
      </li>
      <li class="product">
        <h3
          class="product-title"
          style={{ color: "#2f8857fc", fontSize: "18px" }}
        >
          Reiki
        </h3>
        <div class="product__image-container">
          <a href="/reiki">
            <img
              src={Reiki_Product}
              height={133}
              width={192}
              alt={"Reiki product"}
              class="product__image"
            />
          </a>
        </div>
      </li>
      <li class="product">
        <h3
          class="product__title"
          style={{ color: "#2f8857fc", fontSize: "18px" }}
        >
          Shamanic Healing
        </h3>
        <div class="product__image-container">
          <a href="/reiki">
            <img
              src={Shaman_Product}
              height={133}
              width={192}
              alt={"Shaman product"}
              class="product__image"
            />
          </a>
        </div>
      </li>
    </ol>

    <hr />

    <!--  -->

    <div>
      <p>
        <i>
          {
            `'I had been struggling with digestive issues for a couple of
		  months. Sũka tailored a diet for me based on my symptoms, provided
		  invaluable advice on my eating habits, as well as suggesting herbs
		  to help me heal. He has a wealth of knowledge and aided my recovery,
		  I can not recommend Sũka highly enough!'`
          }{" "}</i
        >
        - Matthew, London
      </p>
      <p>
        <i
          >{
            `'Sũka is a warm hearted, sincere practitioner who holds the space
		  well, allowing you to safely journey with him. He has a wonderfully
		  vibrant energy and a great sense of humour at just the right moment,
		  which I found reassuringly grounding when being treated by him'`
          }{" "}</i
        >
        - Annabelle, London
      </p>
      <p>
        <i
          >{
            `'I did my Reiki 1 attunement with Sũka who is a very patient and
		  intuitive Teacher/Healer. I found Sũka’s teaching informal and
		  professional, explaining all the relevant information and practices.
		  I would highly recommend him and thank him for helping me find my
		  spiritual path'`
          }{" "}</i
        >
        - Sharon, Lewes
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    /* max-width: 60ch; */
    width: 80%;
    max-width: 1200px;
  }

  .about-me {
  }
  .about-me__content {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 2em;
    align-items: center;
  }
  .about-me__image {
    margin: 1em;
    overflow: hidden;
    border-radius: 24px;
  }
  .about-me__text {
  }

  .about-me__image > img {
    margin: auto;
    width: 100%;
    height: 100%;
    /* max-width: 300px;
    max-height: 300px; */
    border-radius: 24px;
  }

  /* product styles */

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    list-style-type: none;
    margin: 1.5em;
  }

  .product {
    border-radius: 24px;
    max-height: auto;
    max-width: 400px !important;
    margin: auto !important;
  }

  .product__image-container {
    overflow: hidden;
    border-radius: 24px;
    margin: 1em;
    aspect-ratio: 13 / 9;
  }

  .product__image {
    transition: transform 0.2s ease-out;
    cursor: pointer;
    height: 100%;
    width: 100%;
    /* border-radius: 24px; */
  }

  .product__image:hover {
    transform: scale(1.025);
  }
</style>
