---
export interface Props {
  text: string;
  page: string;
}

const { page, text } = Astro.props;
---

<div class="banner">
  <div>
    <span
      class={`banner banner--${page}`}
      role="img"
      aria-label={`[${page} banner]`}></span>
  </div>
  <div class="banner__text">
    <h1>{text}</h1>
  </div>
</div>

<style>
  .banner {
    position: relative;
    width: 100%;
    max-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-repeat: repeat-x;
    background-size: contain; */
    /* background-position: center; */
    width: 100%;
    min-height: 50vh;
    display: block;
  }

  .banner__text {
    position: absolute;
    font-style: italic;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    top: 0;
    text-align: center;
    font-size: 24px;
    animation: 1.5s appear;
    opacity: 1;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
    }
  }

  .banner__text > h1 {
    width: 70%;
  }

  @media screen and (max-width: 767px) {
    .bannerText {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 970px) {
    .banner {
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center;
    }
  }

  /* banners */
  .banner--home {
    background-image: url("assets/banner-home.webp");
  }
  .banner--herbal {
    background-image: url("assets/banner-herbal.webp");
  }
  .banner--reiki {
    background-image: url("assets/banner-reiki.webp");
  }
  .banner--shaman {
    background-image: url("assets/banner-shaman.webp");
  }
  .banner--community {
    background-image: url("assets/banner-community.webp");
  }
</style>
