<div class="contact-icons">
  <!-- phone icon -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fillRule="evenodd"
    clipRule="evenodd"
    viewBox="0 0 58.282 58.282"
    shapeRendering="geometricPrecision"
    textRendering="geometricPrecision"
    imageRendering="optimizeQuality"
    id="phone-icon"
  >
    <g id="prefix__Layer_x0020_1">
      <g id="prefix___152222920">
        <path
          id="prefix___152222248"
          class="prefix__fil0"
          d="M24.186 22.5c-5.447 3.144 2.864 18.724 8.824 15.283l5.526 9.571c-2.515 1.452-4.643 2.367-7.559.7-8.094-4.627-17.005-20.053-16.75-29.255.087-3.196 1.97-4.448 4.433-5.87l5.526 9.57z"
        ></path>
        <path
          id="prefix___150519168"
          class="prefix__fil0"
          d="M26.47 22.24a1.236 1.236 0 01-1.686-.452l-5.21-9.023a1.236 1.236 0 01.452-1.685l2.738-1.581a1.237 1.237 0 011.686.451l5.21 9.024c.34.588.137 1.345-.452 1.685l-2.738 1.58z"
        ></path>
        <path
          id="prefix___226148072"
          class="prefix__fil0"
          d="M40.702 46.89a1.236 1.236 0 01-1.686-.452l-5.21-9.023a1.236 1.236 0 01.452-1.685l2.738-1.581a1.237 1.237 0 011.686.451l5.21 9.024c.34.588.137 1.345-.452 1.685l-2.738 1.581z"
        ></path>
      </g>
      <path
        d="M29.141 0v.007c8.05 0 15.335 3.26 20.604 8.53a29.046 29.046 0 018.53 20.603h.007v.002h-.007c0 8.05-3.26 15.335-8.53 20.604a29.046 29.046 0 01-20.604 8.529v.007h-.001v-.007c-8.05 0-15.335-3.26-20.604-8.53a29.046 29.046 0 01-8.53-20.604H0h.006c0-8.05 3.26-15.336 8.53-20.605A29.046 29.046 0 0129.14.006V0h.001zm0 3.476v.007-.007c-7.08 0-13.495 2.875-18.142 7.522-4.648 4.648-7.523 11.063-7.523 18.142h.007v.002h-.007c0 7.079 2.875 13.494 7.523 18.14 4.647 4.648 11.063 7.524 18.142 7.524v-.007h.001v.007c7.08 0 13.494-2.876 18.141-7.523 4.648-4.648 7.523-11.063 7.523-18.142h-.007v-.001h.007c0-7.08-2.875-13.494-7.523-18.141C42.636 6.35 36.22 3.476 29.141 3.476z"
      ></path>
    </g>
  </svg>

  <!-- email icon -->
  <svg
    id="email-icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 230.17 230.17"
  >
    <path
      d="M230 49.585c0-.263.181-.519.169-.779l-70.24 67.68 70.156 65.518c.041-.468-.085-.94-.085-1.418V49.585zM149.207 126.901l-28.674 27.588a7.48 7.48 0 01-5.2 2.096 7.478 7.478 0 01-5.113-2.013l-28.596-26.647-70.614 68.064c1.717.617 3.56 1.096 5.49 1.096h197.667c2.866 0 5.554-.873 7.891-2.175l-72.851-68.009z"
    ></path>
    <path
      d="M115.251 138.757L222.447 35.496c-2.427-1.443-5.252-2.411-8.28-2.411H16.5c-3.943 0-7.556 1.531-10.37 3.866l109.121 101.806zM0 52.1v128.484c0 1.475.339 2.897.707 4.256l69.738-67.156L0 52.1z"
    ></path>
  </svg>
</div>

<script>
  // fns
  const sendEmail = () => {
    window.location.href = "mailto:mrwilliamdraper@gmail.com";
  };
  const callWillis = () => {
    window.open("tel:+447422692274");
  };

  //   els
  const email = document.getElementById("email-icon");
  const phone = document.getElementById("phone-icon");

  //   handlers
  email.addEventListener("click", sendEmail);
  phone.addEventListener("click", callWillis);
</script>

<style>
  .contact-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
  }

  .contact-icons > svg {
    height: 24px;
    fill: var(--suka-green);
    cursor: pointer;
    transition: 0.1s;
  }

  .contact-icons > svg:hover {
    fill: var(--suka-yellow);
  }

  @media screen and (max-width: 767px) {
    .contact-icons > svg {
      height: 1.5em;
    }
  }
</style>
