<div>
    <p>
      <i>
        {
          `'I had been struggling with digestive issues for a couple of
        months. Sũka tailored a diet for me based on my symptoms, provided
        invaluable advice on my eating habits, as well as suggesting herbs
        to help me heal. He has a wealth of knowledge and aided my recovery,
        I can not recommend Sũka highly enough!'`
        }{" "}</i
      >
      - Matthew, London
    </p>
    <p>
      <i
        >{
          `'Sũka is a warm hearted, sincere practitioner who holds the space
        well, allowing you to safely journey with him. He has a wonderfully
        vibrant energy and a great sense of humour at just the right moment,
        which I found reassuringly grounding when being treated by him'`
        }{" "}</i
      >
      - Annabelle, London
    </p>
    <p>
      <i
        >{
          `'I did my Reiki 1 attunement with Sũka who is a very patient and
        intuitive Teacher/Healer. I found Sũka’s teaching informal and
        professional, explaining all the relevant information and practices.
        I would highly recommend him and thank him for helping me find my
        spiritual path'`
        }{" "}</i
      >
      - Sharon, Lewes
    </p>
  </div>