---
import Nav from "./Nav.astro";
import Contact from "./Contact.astro";
import Logo from "../images/logos/logo.png";
---

<div class="header">
  <img class="suka-icon" src={Logo} alt="Brand logo" />
  <Nav />
  <Contact/>
</div>

<style>
  .header {
    display: flex;
    height: 6em;
    margin: auto;
    width: 80%;
    justify-content: center;
    max-width: 1000px;
  }

  .suka-icon {
    height: 100%;
  }
</style>
