---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="navbar">
  <ul class="navbar__items">
    <a class={currentPath === "" ? "active" : ""} href="/">HOME</a>
    <a class={currentPath === "herbal" ? "active" : ""} href="/herbal"
      >HERBAL MEDICINE</a
    >
    <a class={currentPath === "reiki" ? "active" : ""} href="/reiki">REIKI</a>
    <a class={currentPath === "shaman" ? "active" : ""} href="/shaman"
      >SHAMANIC HEALING</a
    >
    <a class={currentPath === "community" ? "active" : ""} href="/community"
      >COMMUNITY</a
    >
  </ul>
</nav>
<style>
  @media screen and (max-width: 767px) {
    nav {
      display: none;
    }
  }

  nav {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    margin: auto;
  }

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  a {
    padding: 0.5em;
    /* color: #077D3A; */
    color: #077d3a;

    transition: 0.3s;
    text-decoration: none;
  }

  a:hover {
    /* color: #0a4a25; */
    color: #fecb00;
  }

  .active {
    color: #fecb00;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: bold;
  }

  /* mobile nav */

  .mobileNav {
    display: flex;
    justify-content: center;
    /* margin: 1em auto 0; */
    display: block;
    margin: 0;
  }
</style>
