<nav class="navbar">
    <ol>
        <li class="navbar_item"><a href="/">HOME</a></li>
        <li class="navbar_item"><a href="/herbal">HERBAL MEDICINE</a></li>
        <li class="navbar_item">REIKI</li>
        <li class="navbar_item">SHAMANIC HEALING</li>
        <li class="navbar_item">COMMUNITY</li>
    </ol>
</nav>